<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style2.css}">
    <title>Student Managament System</title>
</head>
<body>
    <nav>
        <a class="nav-bar-text" th:href="@{/students}">Student Managament System</a>
        <p class="nav-bar-text">Student Managament</p>
    </nav>
    <div class="container">
        <form action=""
              th:method="put"
              th:action="@{/students/edit/{id} (id=${student.id})}"
              th:object="${student}">
            <h1>Update Student</h1>
            <div>
                <label for="firstName">Student First Name</label>
                <input type="text" placeholder="Kumalala" id="firstName" th:field="*{firstName}" th:name="firstName">
            </div>
            <div>
                <label for="lastName">Student Last Name</label>
                <input type="text" placeholder="Jeka" id="lastName" th:field="*{lastName}" th:name="lastName">
            </div>
            <div>
                <label for="email">Student Email</label>
                <input type="text" placeholder="kjeka@example.com" id="email" th:field="*{email}" th:name="email">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>